---
import Section from "../../Section.astro";
import Title from "../../Title.astro";
import Cards from "./Cards.astro";
---

<Section id="testimonials">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-16">
    <Title>Testimonials</Title>
    <div>
      <p class="font-medium max-w-[300px]">
        Don't just take our word for it - hear from our satisfied clients who
        have experienced the transformative impact of our AI text tool.
      </p>
    </div>
    <div>
      <p class="font-medium max-w-[300px]">
        Learn how this powerful tool has revolutionized their work and
        accelerated their success.
      </p>
    </div>
  </div>
  <Cards />
</Section>
