---
import Section from "../../Section.astro";
import LeftSide from "./LeftSide.astro";
import RightSide from "./RightSide.astro";
---

<Section id="home" className="max-w-7xl w-full lg:aspect-[14/7]  text-white overflow-hidden">
  <div class="relative w-full h-full flex flex-col lg:flex-row items-center justify-center px-8 rounded-4xl bg-gradient-to-t from-[#010101] to-[#181a1b]">
    <LeftSide />
    <RightSide />
  </div>
</Section>
