---
import { Image } from "astro:assets";
import handWithPhone from "../../../assets/handhdsmall.png";
---

<div class="pt-6 h-full flex flex-col justify-end ">
  <Image loading="eager" src={handWithPhone} width={handWithPhone.width} class="drop-shadow-handshadow"  alt="Hand with phone" />
</div>
