<div class="flex flex-col md:hidden mt-20 w-full gap-10">
  <!--BASIC-->
  <div class="bg-[#262728] rounded-3xl px-8 pt-4 pb-8 w-full">
    <div class="flex text-2xl justify-center gap-2 items-center bg-[#bbf99e] text-black rounded-lg w-fit mx-auto px-6 py-1">
      <span>Basic</span>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="#fff"
        stroke-width="1.5"
        stroke="#000"
        class="w-6 h-6"
      >
        <path
          d="M7.941 18c-.297-1.273-1.637-2.314-2.187-3a8 8 0 1112.49.002c-.55.685-1.888 1.726-2.185 2.998H7.94zM16 20v1a2 2 0 01-2 2h-4a2 2 0 01-2-2v-1h8zm-3-9.995V6l-4.5 6.005H11v4l4.5-6H13z"
        ></path>
      </svg>
    </div>
    <hr class="opacity-30 mt-5 mb-8" />
    <div class="flex flex-col gap-4">
      <div class="flex justify-between">
        <p>Number of users</p>
        <p>1</p>
      </div>
      <div class="flex justify-between">
        <p>Customer Support</p>
        <p>Online</p>
      </div>
      <div class="flex justify-between">
        <p>Monthly Requests</p>
        <p>1000</p>
      </div>
      <div class="flex justify-between">
        <p>Data Packages</p>
        <p>1 GB</p>
      </div>
      <div class="flex justify-between">
        <p>Flexible Cancellation</p>
        <p>Available</p>
      </div>
      <hr class="opacity-30 mt-5" />
      <div class="flex justify-between text-2xl font-medium">
        <p>Montly Cost</p>
        <p>$9.99</p>
      </div>
    </div>
  </div>
  <!--BASIC-->
  <!--ADVANCED-->
  <div class="bg-[#262728] rounded-3xl px-8 pt-4 pb-8 w-full">
    <div class="flex text-2xl justify-center gap-2 items-center bg-[#cdbafe] text-black rounded-lg w-fit mx-auto px-6 py-1">
      <span> Advanced</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="#fff"
        stroke-width="1.5"
        stroke="#000"
        class="w-6 h-6"
      >
        <path
          fill-rule="evenodd"
          d="M14.615 1.595a.75.75 0 01.359.852L12.982 9.75h7.268a.75.75 0 01.548 1.262l-10.5 11.25a.75.75 0 01-1.272-.71l1.992-7.302H3.75a.75.75 0 01-.548-1.262l10.5-11.25a.75.75 0 01.913-.143z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <hr class="opacity-30 mt-5 mb-8" />
    <div class="flex flex-col gap-4">
      <div class="flex justify-between">
        <p>Number of users</p>
        <p>Up to 5</p>
      </div>
      <div class="flex justify-between">
        <p>Customer Support</p>
        <p>Priority</p>
      </div>
      <div class="flex justify-between">
        <p>Monthly Requests</p>
        <p>5000</p>
      </div>
      <div class="flex justify-between">
        <p>Data Packages</p>
        <p>5 GB</p>
      </div>
      <div class="flex justify-between">
        <p>Flexible Cancellation</p>
        <p>Available</p>
      </div>
      <hr class="opacity-30 mt-5" />
      <div class="flex justify-between text-2xl font-medium">
        <p>Montly Cost</p>
        <p>$19.99</p>
      </div>
    </div>
  </div>
  <!--ADVANCED-->
  <!--PREMIUM-->
  <div class="bg-[#262728] rounded-3xl px-8 pt-4 pb-8 w-full">
    <div class="flex text-2xl justify-center gap-2 items-center bg-[#eccf87] text-black rounded-lg w-fit mx-auto px-6 py-1">
      <span> Premium</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="#fff"
        stroke-width="1.5"
        stroke="#000"
        class="w-8 h-8"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z"></path>
      </svg>
    </div>
    <hr class="opacity-30 mt-5 mb-8" />
    <div class="flex flex-col gap-4">
      <div class="flex justify-between">
        <p>Number of users</p>
        <p>Unlimited</p>
      </div>
      <div class="flex justify-between">
        <p>Customer Support</p>
        <p>Premium</p>
      </div>
      <div class="flex justify-between">
        <p>Monthly Requests</p>
        <p>Unlimited</p>
      </div>
      <div class="flex justify-between">
        <p>Data Packages</p>
        <p>10 GB</p>
      </div>
      <div class="flex justify-between">
        <p>Flexible Cancellation</p>
        <p>Available</p>
      </div>
      <hr class="opacity-30 mt-5" />
      <div class="flex justify-between text-2xl font-medium">
        <p>Montly Cost</p>
        <p>$39.99</p>
      </div>
    </div>
  </div>
  <!--PREMIUM-->
</div>
