<tbody>
  <tr>
    <td>Number of users</td>
    <td>1</td>
    <td>Up to 5</td>
    <td>Unlimited</td>
  </tr>
  <tr>
    <td>Customer Support</td>
    <td>Online</td>
    <td>Priority</td>
    <td>Premium</td>
  </tr>
  <tr>
    <td>Monthly Requests</td>
    <td>1000</td>
    <td>5000</td>
    <td>Unlimited</td>
  </tr>
  <tr>
    <td>Data Packages</td>
    <td>1 GB</td>
    <td>5 GB</td>
    <td>10 GB</td>
  </tr>
  <tr>
    <td>Flexible Cancellation</td>
    <td>Available</td>
    <td>Available</td>
    <td>Available</td>
  </tr>
  <tr>
    <td>Montly Cost</td>
    <td>$9.99</td>
    <td>$19.99</td>
    <td>$39.99</td>
  </tr>
</tbody>

<style>
  tbody tr{
    border-bottom-width: 1px;
    border-color: #232526;
  }
  tbody tr td {
    padding-left: 1.75rem /* 28px */;
  }
  tbody tr td:first-of-type {
    width: 100%;
    padding: 1.5rem /* 24px */;
  }
  tbody tr:last-of-type td:not(:first-of-type){
    font-size: 1.7rem/* 24px */;
    line-height: 2rem/* 32px */;
    font-weight: 600;
  }
</style>
