---
import Destinations from "../components/sections/destinations/Destinations.astro";
import Features from "../components/sections/features/Features.astro";
import Landing from "../components/sections/landing/Landing.astro";
import Testimonials from "../components/sections/testimonials/Testimonials.astro";
import Pricing from "../components/sections/pricing/Pricing.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="AI Ally">
  <main class="flex flex-col items-center">
    <Landing />
    <Destinations />
    <Features />
    <Testimonials />
    <Pricing />
  </main>
</Layout>
